<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Мы</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link type="text/css" href="css/style.css" rel="stylesheet" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>

<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class ="navbar-header">
        <a href="/" class="navbar-brand">Ctechnology</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/about">О нас</a></li>
          <li> <a href="/contact">Обратная связь</a></li>
          <li> <a href="/clients">Наши клиенты</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Мы</h3>
      </div>
    </div>
  </div>
</section>

</div>

<div class="about">
<h3 class="title">"C Technology" является единственной местной компанией, которая обеспечивает разработку программного обеспечения для банковских институтов.</h3>
  <p>В прошлом, Демирбанк получал услуги по разработке программного обеспечения посредством аутсорсинга.</p>
  <img src="/images/digital-transformation-banking-pioneer.jpg" class = "bank" alt="njnjnjn" width = "300" height = "300">
  <p class="nadpis1">Два года назад, Демирбанк принял решение создать локальную команду разработчиков программного обеспечения, в городе Бишкек, для разработки программного обеспечения в частности для своих нужд.</p>
  <img src="/images/aboutus.png" class="aboutus" alt="njnjnjn" width = "300" height = "300">
  <p class="nadpis2">В результате, были наняты сотрудники, включая руководителя программных разработок для Демирбанка. В течении этого времени, разработчики приняли участие в нескольких тренингах, на протяжении 1,5 года командой было завершено несколько проектов включая приложение «Мобильный Банкинг».</p>
  <p class="nadpis3">Изначально, основной задачей для команды разработчиков было усовершенствование программного обеспечения для Демирбанка, задачу группа выполнила успешно, затем Демирбанк принял решение, использовать потенциал команды для изучения возможных потребностей других банков находящихся в группе компаний и местных банков Кыргызстана. Но согласно законодательству Демирбанк не может оказывать услуги кроме финансовых. С этой целью было решено создать независимую компанию, а также дополнительно нанять новых сотрудников. В данный момент компания «C Technology» состоит в Парке Высоких Технологий и приносит на рынок современные и успешные продукты в сфере высоких технологии. Компания была создана в 2015 году.</p>
  <img src="/images/ctech.png" class="ctech" alt="njnjnjn">
</div>

<br>

<footer class="footer clearfix">
  <div class="container">

    <div class="social">

      <a href="https://www.facebook.com/CTechnologyKyrgyzRepublic/" class="social__item facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>

      <a href="#" class="social__item g-plus">
        <i class="fa fa-google" aria-hidden="true"></i>
      </a>

      <a href="#" class="social__item instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>

    </div> <!-- .social -->

    <br>

    <div class="footer__copyright">Copyright © 2021 C Technology All rights reserved</div>

  </div> <!-- .container -->
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>