<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link type="text/css" href="css/style.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>

<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class ="navbar-header">
                <a href="/" class="navbar-brand">Ctechnology</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/about">О нас</a></li>
                    <li> <a href="/contact">Обратная связь</a></li>
                    <li> <a href="/clients">Наши клиенты</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Основная система банков</h3>
            </div>
        </div>
    </div>
</section>

<div class="systemOfBank">
    <img src="/images/int-banking-image1.jpg "width = "500" height = "300" class = "banking1" alt="njnjnjn">
    <h3 class="titleBankSys">Банковские услуги</h3>
    <p class="sysBank1">Банковские услуги для обработки финансовых операций</p>
    <p class="sysBank2">Легко настраиваемый пользовательский интерфейс</p>
    <p class="sysBank3">Несколько уровней безопасности для аутентификации</p>
    <p class="sysBank4">Возможность полного контроля над счетами</p>
    <img src="/images/int-banking-image2.jpg" width = "500" height = "300" class = "banking2" alt="njnjnjn">
    <h3 class="titleBankSys2">Широкие возможности для настроек</h3>
    <p class="sysBank5">API для интеграции систем</p>
    <p class="sysBank6">Различные языки общения с клиентом</p>
    <p class="sysBank7">Работа в режимах HA и HP кластера</p>
    <p class="sysBank8">Соответствие требованиям PCI-DSS</p>
    <img src="/images/int-banking-image3.jpg" width = "500" height = "300" class = "banking3" alt="njnjnjn">
    <h3 class="titleBankSys3">Приложения для смартфонов</h3>
    <p class="sysBank9">Поддерживает популярные платформы (IOS, Android)</p>
    <p class="sysBank10">Централизованная служба для обслуживания систем</p>
    <p class="sysBank11">Дизайн приложения с требованиями компании</p>
</div>

<!--<div th:insert="blocks/footer :: footer"></div>-->

<br>

<footer class="footer clearfix">
    <div class="container">

        <div class="social">

            <a href="https://www.facebook.com/CTechnologyKyrgyzRepublic/" class="social__item facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>

            <a href="#" class="social__item g-plus">
                <i class="fa fa-google" aria-hidden="true"></i>
            </a>

            <a href="#" class="social__item instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>

        </div> <!-- .social -->

        <br>

        <div class="footer__copyright">Copyright © 2021 C Technology All rights reserved</div>

    </div> <!-- .container -->
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>