<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Редактирование статьи</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class = "container mt-5 mb-5">
  <h1>Редактирование статьи</h1>
  <div th:each="el : ${post}">
  <form method="post">
    <input type = "text" th:value = "${el.title}" name="title" placeholder="введите название статьи" class="form-control"><br>
    <input type = "text" th:value = "${el.anons}" name="anons" placeholder="введите анонс статьи" class="form-control"><br>
    <textarea name="full_text" th:value = "${el.full_text}" placeholder="введите полный текст статьи" class="form-control" th:text = "${el.full_text}" /><br>
    <button type="submit" class="btn btn-success">Обновить</button>
  </form>
</div>
</div>


<div th:insert="blocks/footer :: footer"></div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>