<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Блог сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class = "container mt-5">
  <div th:each="el : ${post}" class="alert alert-info mt-2">
    <h1 th:text="${el.title}"/>
    <p th:text="${el.full_text}"/>
    <p th:text="${el.views}"/>
    <a th:href="'/sit/' + ${el.id} + '/edit'" class="btn btn-warning"> Редактировать</a>
    <form th:action = "'/sit' + ${el.id} + '/remove'" method="post">
      <button class="btn btn-warning" type="submit">Удалить</button>
    </form>
  </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>