<div th:fragment="header">

    <ul>
        <li>home</li>
        <li>profile</li>
        <li>about</li>
        <li>blog</li>
        <li>login</li>
        <li>signup</li>
    </ul>





    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class ="navbar-header">
                <a href="/" class="navbar-brand">Nsfdsf</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class ="active"><a href="/">Главная</a></li>
                    <li><a href="/sit">Блог</a></li>
                    <li><a href="/sit/add">Добавить статью</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li> <a href="/contact">Обратная связь</a></li>
                    <li> <a href="/clients">Наши клиенты</a></li>
                    <li> <a href="/location">Наше местоположение</a></li>
                    <li> <a href="/pov">ТОТОТОТ</a></li>
                </ul>
            </div>
        </div>
    </nav>-->

    <!--<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/sit">Блог</a>
        <a class="p-2 text-dark" href="/sit/add">Добавить статью</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Мы</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Обратная связь</a>
    </nav>
    </div>-->
</div>


